@function responsive-px($min-px, $max-px, $min-vw: 320, $max-vw: 1920) {
    @return calc(#{$min-px}px + (#{$max-px} - #{$min-px}) * ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})));
}

@font-face {
    font-family: "ITC Caslon 224 Std";
    src: url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.eot");
    src: url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.woff2") format("woff2"),
        url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.woff") format("woff"),
        url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.ttf") format("truetype"),
        url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.svg#Caslon224Std-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN Pro Bold";
    src: url("../../public/fonts/DINPro-Bold/DINPro-Bold.eot");
    src: url("../../public/fonts/DINPro-Bold/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/DINPro-Bold/DINPro-Bold.woff2") format("woff2"),
        url("../../public/fonts/DINPro-Bold/DINPro-Bold.woff") format("woff"),
        url("../../public/fonts/DINPro-Bold/DINPro-Bold.ttf") format("truetype"),
        url("../../public/fonts/DINPro-Bold/DINPro-Bold.svg#DINPro-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN Pro Medium";
    src: url("../../public/fonts/DINPro-Medium/DINPro-Medium.eot");
    src: url("../../public/fonts/DINPro-Medium/DINPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/DINPro-Medium/DINPro-Medium.woff2") format("woff2"),
        url("../../public/fonts/DINPro-Medium/DINPro-Medium.woff") format("woff"),
        url("../../public/fonts/DINPro-Medium/DINPro-Medium.ttf") format("truetype"),
        url("../../public/fonts/DINPro-Medium/DINPro-Medium.svg#DINPro-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DIN Pro";
    src: url("../../public/fonts/DINPro/DINPro.eot");
    src: url("../../public/fonts/DINPro/DINPro.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/DINPro/DINPro.woff2") format("woff2"),
        url("../../public/fonts/DINPro/DINPro.woff") format("woff"),
        url("../../public/fonts/DINPro/DINPro.ttf") format("truetype"),
        url("../../public/fonts/DINPro/DINPro.svg#DINPro") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Morganite";
    src: url("../../public/fonts/Morganite-Light/Morganite-Light.eot");
    src: url("../../public/fonts/Morganite-Light/Morganite-Light.eot?#iefix") format("embedded-opentype"),
        url("../../public/fonts/Morganite-Light/Morganite-Light.woff2") format("woff2"),
        url("../../public/fonts/Morganite-Light/Morganite-Light.woff") format("woff"),
        url("../../public/fonts/Morganite-Light/Morganite-Light.ttf") format("truetype"),
        url("../../public/fonts/Morganite-Light/Morganite-Light.svg#Morganite-Light") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

$blue-color: #242f43;
$orange-color: #f6a11f;
$celeste-color: #85b19e;

body {
    a,
    button {
        -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        transition: all 0.5s 0s ease, all 0.5s 0s ease;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        max-width: 100%;
    }
    .img-container {
        text-align: center;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .parallax-effect {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 70vh;
    }
    h2 {
        font-family: "ITC Caslon 224 Std";
        color: $blue-color;
        font-size: responsive-px(36, 105);
    }
    p {
        font-size: responsive-px(12, 32);
        text-align: justify;
    }
    section {
        overflow: hidden;
    }
    .blue-background {
        background-color: $blue-color;
        color: #ffffff;
    }
    .orange-background {
        background-color: $orange-color;
        color: #ffffff;
    }
    .gallery-images {
        .img-container {
            overflow: hidden;
            a {
                img {
                    -webkit-transition: all 0.5s 0s ease-in-out;
                    -moz-transition: all 0.5s 0s ease-in-out;
                    -o-transition: all 0.5s 0s ease-in-out;
                    transition: all 0.5s 0s ease-in-out;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

#header {
    background-color: $blue-color;
    .header-container {
        text-align: center;
        position: relative;
        .img-container {
            max-width: responsive-px(180, 750);
            margin: 0 auto;
        }
        .translate-buttons {
            position: absolute;
            right: 5%;
            top: 20%;
            form {
                button {
                    background-color: transparent;
                    border: 0;
                    color: white;
                    vertical-align: middle;
                    font-size: responsive-px(12, 32);
                    padding: 0;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        color: $orange-color;
                    }
                }
                span.translate-divisor {
                    color: white;
                    font-size: responsive-px(12, 32);
                    @media (min-width: 1024px) {
                        vertical-align: sub;
                    }
                }
            }
        }
    }
}

#home {
    .principal-container {
        .parallax-effect {
            background-image: url("../../public/img/home/Arco.jpg");
            background-attachment: initial;
            height: 80vh;
        }
        .head-description {
            > div {
                .blue-container {
                    background-color: $blue-color;
                    overflow: initial;
                    position: relative;
                    .text-container {
                        padding-top: 30px;
                        padding-left: 30px;
                        padding-right: 30px;
                        .date-container {
                            color: $celeste-color;
                            font-family: "DIN Pro Bold";
                            text-transform: uppercase;
                            font-size: responsive-px(18, 45);
                            margin-bottom: 0;
                        }
                        .title-vipsummit {
                            font-family: "Morganite";
                            color: $orange-color;
                            letter-spacing: responsive-px(5, 8);
                            line-height: 1;
                            font-size: responsive-px(50, 110);
                            text-align: left;
                            margin-bottom: 0;
                        }
                        .desc-container {
                            color: #ffffff;
                            font-family: "DIN Pro";
                            text-align: justify;
                            margin-bottom: 0;
                        }
                    }
                    .wave-container {
                        .img-container {
                            width: 50%;
                            margin-left: auto;
                            margin-right: -45px;
                            margin-bottom: 15px;
                        }
                    }
                    @media (min-width: 992px) {
                        width: 65%;
                        padding: responsive-px(30, 60) responsive-px(30, 180) responsive-px(30, 60)
                            responsive-px(30, 120);
                        transform: translateY(-30%);
                        .wave-container {
                            position: absolute;
                            right: -300px;
                            top: 48%;
                            text-align: left;
                            .img-container {
                                width: 95%;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .welcome-container {
        .welcome-content {
            padding: 30px responsive-px(30, 345) 30px;
            h2 {
                text-align: center;
            }
            p {
                &.gold-text,
                &.blue-text {
                    text-align: center;
                    font-family: "DIN Pro Bold";
                    font-size: responsive-px(16, 36);
                }
                &.gold-text {
                    color: $orange-color;
                }
                &.blue-text {
                    color: $blue-color;
                }
            }
            @media (min-width: 992px) {
                padding: 0 responsive-px(30, 345) 30px;
            }
        }
        .message-partners {
            padding: responsive-px(30, 60) responsive-px(30, 250) responsive-px(30, 60);
            h2 {
                text-align: center;
            }
            .video-carousel {
                .partners-videos {
                    .slick-list {
                        .slick-track {
                            .slick-slide {
                                .carousel-video-container {
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    text-align: center;
                                    .img-container {
                                        margin-bottom: 15px;
                                        text-align: center;
                                        position: relative;
                                        display: inline-block;
                                        overflow: hidden;
                                        a {
                                            img {
                                                -webkit-transition: all 0.5s 0s ease-in-out;
                                                -moz-transition: all 0.5s 0s ease-in-out;
                                                -o-transition: all 0.5s 0s ease-in-out;
                                                transition: all 0.5s 0s ease-in-out;
                                                display: inline;
                                            }
                                            > span {
                                                position: absolute;
                                                -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                left: 0;
                                                right: 0;
                                                height: 100%;
                                                opacity: 0;
                                                span {
                                                    -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                    -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                    -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                    transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    height: 100%;
                                                    flex-wrap: wrap;
                                                    color: #ffffff;
                                                    background-color: #ffffff30;
                                                    i {
                                                        -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        font-size: responsive-px(30, 80);
                                                    }
                                                }
                                            }
                                            &:focus {
                                                outline: none;
                                            }
                                            &:hover {
                                                > span {
                                                    opacity: 1;
                                                }
                                                img {
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                    }
                                    .text-container {
                                        .desc-video-container {
                                            p {
                                                text-align: center;
                                                margin-bottom: 0;
                                                &.name-person-video {
                                                    font-family: "DIN Pro Bold";
                                                    text-transform: uppercase;
                                                    font-size: responsive-px(16, 36);
                                                }
                                                &.occupation-person-video {
                                                    font-family: "DIN Pro Bold";
                                                }
                                                &.company-person-video {
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }
                                        .btn-open-container {
                                            p {
                                                text-align: center;
                                                a {
                                                    font-family: "DIN Pro Bold";
                                                    text-transform: uppercase;
                                                    color: $orange-color;
                                                    font-size: responsive-px(16, 36);
                                                    i {
                                                        -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                                        padding-left: 5px;
                                                        position: relative;
                                                    }
                                                    &:hover {
                                                        i {
                                                            transform: translateX(5px);
                                                        }
                                                    }
                                                    &:focus {
                                                        outline: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                    button {
                        top: 30%;
                        &.slick-prev {
                            &::before {
                                content: "\f053";
                            }
                        }
                        &.slick-next {
                            &::before {
                                content: "\f054";
                            }
                        }
                        &::before {
                            font-family: fontAwesome;
                            color: $orange-color;
                            font-size: responsive-px(20, 35);
                        }
                    }
                }
            }
        }
        .welcome-new-experience {
            .parallax-effect {
                background-image: url("../../public/img/home/ballena.jpg");
                div {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding-left: 30px;
                    padding-right: 30px;
                    p {
                        text-align: center;
                        font-size: responsive-px(36, 100);
                        color: #ffffff;
                        font-family: "ITC Caslon 224 Std";
                        font-weight: 600;
                        text-shadow: 0px 0px 2px #000000;
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    .register-today {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        overflow: initial;
        > div:first-of-type {
            padding-left: responsive-px(30, 115);
            padding-right: responsive-px(30, 115);
            .text-container {
                p {
                    margin-bottom: 30px;
                    text-align: left;
                    span {
                        font-family: "DIN Pro Bold";
                        color: #ffffff;
                        font-size: responsive-px(25, 60);
                        text-transform: uppercase;
                        &.line-two {
                            color: $orange-color;
                        }
                    }
                }
            }
            .images-register {
                .row {
                    margin-left: -15px;
                    margin-right: -15px;
                    justify-content: center;
                    align-items: center;
                    > div {
                        padding: 5px;
                        &:nth-of-type(1) {
                            order: 0;
                        }
                        &:nth-of-type(2) {
                            order: 1;
                        }
                        &:nth-of-type(3) {
                            order: 3;
                        }
                        &:nth-of-type(4) {
                            order: 2;
                            .img-container {
                                max-width: 80%;
                                margin: 0 auto;
                            }
                        }
                        &:nth-of-type(5) {
                            order: 4;
                            padding-top: 40px;
                            .register-container {
                                > p {
                                    font-family: "DIN Pro Bold";
                                    font-size: responsive-px(25, 65);
                                    color: $celeste-color;
                                    text-align: center;
                                    text-transform: uppercase;
                                }
                                form {
                                    max-width: 90%;
                                    margin: 0 auto;
                                    select {
                                        border-radius: 0;
                                        border-color: $blue-color;
                                        color: $blue-color;
                                        text-transform: uppercase;
                                        font-family: "DIN Pro Bold";
                                        font-size: responsive-px(12, 32);
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        background: transparent;
                                        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                                        background-repeat: no-repeat;
                                        background-position-x: 98%;
                                        background-position-y: center;
                                        background-size: contain;
                                        option {
                                            width: 100%;
                                        }
                                    }
                                    .btn-register {
                                        text-align: center;
                                        a {
                                            font-family: "DIN Pro Bold";
                                            text-transform: uppercase;
                                            margin: 0 auto;
                                            background-color: $orange-color;
                                            color: #ffffff;
                                            border: 0;
                                            border-radius: 50px;
                                            padding: 3px 20px;
                                            font-size: responsive-px(12, 32);
                                            &:hover {
                                                background-color: $blue-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .background-blue {
            position: absolute;
            z-index: -1;
            background-color: $blue-color;
            left: 0;
            right: 0;
            top: 0;
            height: 60%;
        }
        @media (min-width: 992px) {
            > div:first-of-type {
                display: flex;
                align-items: center;
                .text-container {
                    width: 45%;
                }
                .images-register {
                    width: 45%;
                    .row {
                        margin-left: -15px;
                        margin-right: -15px;
                        justify-content: center;
                        align-items: center;
                        > div {
                            padding: 5px;
                            &:nth-of-type(1) {
                                order: 2;
                            }
                            &:nth-of-type(2) {
                                order: 0;
                            }
                            &:nth-of-type(3) {
                                order: 1;
                            }
                            &:nth-of-type(4) {
                                order: 4;
                                position: absolute;
                                left: 130px;
                                bottom: -110px;
                                .img-container {
                                    display: inline-block;
                                    max-width: 40%;
                                }
                            }
                            &:nth-of-type(5) {
                                order: 3;
                                .register-container {
                                    margin-right: -135px;
                                    margin-bottom: -60px;
                                }
                            }
                        }
                    }
                }
            }
            .background-blue {
                height: 100%;
                width: 50%;
            }
        }
        @media (min-width: 1200px) {
            > div:first-of-type {
                display: flex;
                align-items: center;
                .text-container {
                    width: 40%;
                }
                .images-register {
                    width: 50%;
                    .row {
                        > div {
                            &:nth-of-type(4) {
                                bottom: -135px;
                            }
                            &:nth-of-type(5) {
                                .register-container {
                                    margin-right: -180px;
                                    margin-bottom: -250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .diary-section {
        padding: 30px responsive-px(30, 240) 30px;
        > div {
            h2 {
                margin-bottom: 0;
            }
            h2,
            > p {
                text-align: center;
            }
            table {
                thead,
                tbody {
                    tr {
                        td,
                        th {
                            text-align: center;
                            font-size: responsive-px(12, 32);
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-left: 1px solid #dee2e6;
                            border-right: 1px solid #dee2e6;
                            font-family: "DIN Pro Medium";
                            .bold-cell {
                                font-family: "DIN Pro Bold";
                            }
                        }
                    }
                }
            }
            .d-md-none {
                tr {
                    td:last-of-type {
                        border-bottom: 1px solid #dee2e6;
                    }
                }
            }
            .d-md-table {
                td,
                th {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                tbody {
                    tr:last-of-type {
                        td {
                            border-bottom: 1px solid #dee2e6;
                        }
                    }
                }
            }
        }
        @media (min-width: 992px) {
            padding: 180px responsive-px(30, 240) 60px;
        }
    }
    .gallery-section {
        padding: 0 responsive-px(30, 235) 40px;
        h2 {
            text-align: center;
        }
        > div {
            > .row {
                > div {
                    padding: 0;
                    .row {
                        > div {
                            padding: 5px;
                        }
                    }
                    &:last-of-type {
                        .row {
                            > div {
                                &:nth-of-type(1) {
                                    order: 2;
                                }
                                &:nth-of-type(2) {
                                    order: 1;
                                }
                                &:nth-of-type(3) {
                                    order: 0;
                                }
                                @media (min-width: 768px) {
                                    &:nth-of-type(1) {
                                        order: 0;
                                    }
                                    &:nth-of-type(2) {
                                        order: 2;
                                    }
                                    &:nth-of-type(3) {
                                        order: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (min-width: 768px) {
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
        @media (min-width: 768px) {
            padding: 0 responsive-px(30, 235) 80px;
        }
    }
    .popup-video {
        -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
        transition: all 0.5s 0s ease, all 0.5s 0s ease;
        &.hide {
            opacity: 0;
            pointer-events: none;
        }
        .popup-video-container {
            width: 90%;
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            z-index: 1000000;
            .responsive-video {
                text-align: center;
                video {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    height: auto;
                    &:focus {
                        outline: none;
                    }
                }
            }
            @media (min-width: 1200px) {
                width: 80%;
            }
        }
        .fade-background {
            width: 100%;
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            z-index: 999991;
            height: 101%;
            background: black;
            opacity: 0.8;
            a {
                right: 2%;
                position: absolute;
                top: 2%;
                font-size: 30px;
                color: gray;
            }
        }
    }
}

#footer {
    background-color: $blue-color;
    #topButton {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        position: fixed;
        right: 4%;
        bottom: 50px;
        width: responsive-px(40, 60);
        height: responsive-px(40, 60);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $celeste-color;
        cursor: pointer;
        a{
            color: white;
            i{
                font-size: responsive-px(16, 24);
            }
        }
        &:hover{
            background-color: $orange-color;
        }
        &.show {
            opacity: 1;
        }
        &.hidden {
            opacity: 0;
        }
    }
    .footer-container {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        p,
        a {
            color: white;
            text-align: center;
        }
        .footer-top-section {
            p {
                margin: 0;
                &:last-of-type {
                    margin-bottom: 15px;
                    a {
                        font-family: "DIN Pro Bold";
                        &:hover {
                            color: $orange-color;
                        }
                    }
                }
            }
        }
        .footer-bottom-section {
            > p {
                text-transform: uppercase;
                padding-bottom: 15px;
                margin-bottom: 0;
            }
            .social-media-container {
                ul {
                    padding: 0;
                    li {
                        display: inline-block;
                        /* padding-left: 10px;
                        padding-right: 10px; */
                        padding-left: responsive-px(5, 10);
                        padding-right: responsive-px(5, 10);
                        a {
                            border: 1px solid $orange-color;
                            width: responsive-px(25, 50);
                            height: responsive-px(25, 50);

                            /* width: 50px;
                            height: 50px; */
                            display: block;
                            transform: rotate(45deg);
                            span {
                                -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                transition: all 0.5s 0s ease, all 0.5s 0s ease;
                                display: block;
                                height: 100%;
                                transform: rotate(-45deg);
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                i {
                                    font-size: responsive-px(12, 25);
                                }
                            }
                            &:hover {
                                transform: rotate(0deg);
                                text-decoration: none;
                                background-color: white;
                                span {
                                    transform: rotate(0deg);
                                    i {
                                        color: $blue-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
