@charset "UTF-8";
@font-face {
  font-family: "ITC Caslon 224 Std";
  src: url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.eot");
  src: url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.woff2") format("woff2"), url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.woff") format("woff"), url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.ttf") format("truetype"), url("../../public/fonts/Caslon224Std-Bold/Caslon224Std-Bold.svg#Caslon224Std-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro Bold";
  src: url("../../public/fonts/DINPro-Bold/DINPro-Bold.eot");
  src: url("../../public/fonts/DINPro-Bold/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/DINPro-Bold/DINPro-Bold.woff2") format("woff2"), url("../../public/fonts/DINPro-Bold/DINPro-Bold.woff") format("woff"), url("../../public/fonts/DINPro-Bold/DINPro-Bold.ttf") format("truetype"), url("../../public/fonts/DINPro-Bold/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro Medium";
  src: url("../../public/fonts/DINPro-Medium/DINPro-Medium.eot");
  src: url("../../public/fonts/DINPro-Medium/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/DINPro-Medium/DINPro-Medium.woff2") format("woff2"), url("../../public/fonts/DINPro-Medium/DINPro-Medium.woff") format("woff"), url("../../public/fonts/DINPro-Medium/DINPro-Medium.ttf") format("truetype"), url("../../public/fonts/DINPro-Medium/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../../public/fonts/DINPro/DINPro.eot");
  src: url("../../public/fonts/DINPro/DINPro.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/DINPro/DINPro.woff2") format("woff2"), url("../../public/fonts/DINPro/DINPro.woff") format("woff"), url("../../public/fonts/DINPro/DINPro.ttf") format("truetype"), url("../../public/fonts/DINPro/DINPro.svg#DINPro") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Morganite";
  src: url("../../public/fonts/Morganite-Light/Morganite-Light.eot");
  src: url("../../public/fonts/Morganite-Light/Morganite-Light.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/Morganite-Light/Morganite-Light.woff2") format("woff2"), url("../../public/fonts/Morganite-Light/Morganite-Light.woff") format("woff"), url("../../public/fonts/Morganite-Light/Morganite-Light.ttf") format("truetype"), url("../../public/fonts/Morganite-Light/Morganite-Light.svg#Morganite-Light") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body a,
body button {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
}
body a:hover,
body button:hover {
  text-decoration: none;
}
body img {
  max-width: 100%;
}
body .img-container {
  text-align: center;
}
body .row {
  margin-left: 0;
  margin-right: 0;
}
body .parallax-effect {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 70vh;
}
body h2 {
  font-family: "ITC Caslon 224 Std";
  color: #242f43;
  font-size: calc(36px + (105 - 36) * ((100vw - 320px) / (1920 - 320)));
}
body p {
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
  text-align: justify;
}
body section {
  overflow: hidden;
}
body .blue-background {
  background-color: #242f43;
  color: #ffffff;
}
body .orange-background {
  background-color: #f6a11f;
  color: #ffffff;
}
body .gallery-images .img-container {
  overflow: hidden;
}
body .gallery-images .img-container a img {
  -webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}
body .gallery-images .img-container a:hover img {
  transform: scale(1.1);
}

#header {
  background-color: #242f43;
}
#header .header-container {
  text-align: center;
  position: relative;
}
#header .header-container .img-container {
  max-width: calc(180px + (750 - 180) * ((100vw - 320px) / (1920 - 320)));
  margin: 0 auto;
}
#header .header-container .translate-buttons {
  position: absolute;
  right: 5%;
  top: 20%;
}
#header .header-container .translate-buttons form button {
  background-color: transparent;
  border: 0;
  color: white;
  vertical-align: middle;
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
  padding: 0;
}
#header .header-container .translate-buttons form button:focus {
  outline: none;
}
#header .header-container .translate-buttons form button:hover {
  color: #f6a11f;
}
#header .header-container .translate-buttons form span.translate-divisor {
  color: white;
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
}
@media (min-width: 1024px) {
  #header .header-container .translate-buttons form span.translate-divisor {
    vertical-align: sub;
  }
}

#home .principal-container .parallax-effect {
  background-image: url("../../public/img/home/Arco.jpg");
  background-attachment: initial;
  height: 80vh;
}
#home .principal-container .head-description > div .blue-container {
  background-color: #242f43;
  overflow: initial;
  position: relative;
}
#home .principal-container .head-description > div .blue-container .text-container {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#home .principal-container .head-description > div .blue-container .text-container .date-container {
  color: #85b19e;
  font-family: "DIN Pro Bold";
  text-transform: uppercase;
  font-size: calc(18px + (45 - 18) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 0;
}
#home .principal-container .head-description > div .blue-container .text-container .title-vipsummit {
  font-family: "Morganite";
  color: #f6a11f;
  letter-spacing: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1;
  font-size: calc(50px + (110 - 50) * ((100vw - 320px) / (1920 - 320)));
  text-align: left;
  margin-bottom: 0;
}
#home .principal-container .head-description > div .blue-container .text-container .desc-container {
  color: #ffffff;
  font-family: "DIN Pro";
  text-align: justify;
  margin-bottom: 0;
}
#home .principal-container .head-description > div .blue-container .wave-container .img-container {
  width: 50%;
  margin-left: auto;
  margin-right: -45px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  #home .principal-container .head-description > div .blue-container {
    width: 65%;
    padding: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320))) calc(30px + (180 - 30) * ((100vw - 320px) / (1920 - 320))) calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320))) calc(30px + (120 - 30) * ((100vw - 320px) / (1920 - 320)));
    transform: translateY(-30%);
  }
  #home .principal-container .head-description > div .blue-container .wave-container {
    position: absolute;
    right: -300px;
    top: 48%;
    text-align: left;
  }
  #home .principal-container .head-description > div .blue-container .wave-container .img-container {
    width: 95%;
    margin-left: 0;
  }
}
#home .welcome-container .welcome-content {
  padding: 30px calc(30px + (345 - 30) * ((100vw - 320px) / (1920 - 320))) 30px;
}
#home .welcome-container .welcome-content h2 {
  text-align: center;
}
#home .welcome-container .welcome-content p.gold-text, #home .welcome-container .welcome-content p.blue-text {
  text-align: center;
  font-family: "DIN Pro Bold";
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .welcome-content p.gold-text {
  color: #f6a11f;
}
#home .welcome-container .welcome-content p.blue-text {
  color: #242f43;
}
@media (min-width: 992px) {
  #home .welcome-container .welcome-content {
    padding: 0 calc(30px + (345 - 30) * ((100vw - 320px) / (1920 - 320))) 30px;
  }
}
#home .welcome-container .message-partners {
  padding: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320))) calc(30px + (250 - 30) * ((100vw - 320px) / (1920 - 320))) calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .message-partners h2 {
  text-align: center;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container {
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a img {
  -webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
  display: inline;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a > span {
  position: absolute;
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a > span span {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #ffffff30;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a > span span i {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a:focus {
  outline: none;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a:hover > span {
  opacity: 1;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .img-container a:hover img {
  transform: scale(1.1);
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .desc-video-container p {
  text-align: center;
  margin-bottom: 0;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .desc-video-container p.name-person-video {
  font-family: "DIN Pro Bold";
  text-transform: uppercase;
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .desc-video-container p.occupation-person-video {
  font-family: "DIN Pro Bold";
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .desc-video-container p.company-person-video {
  margin-bottom: 10px;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .btn-open-container p {
  text-align: center;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .btn-open-container p a {
  font-family: "DIN Pro Bold";
  text-transform: uppercase;
  color: #f6a11f;
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .btn-open-container p a i {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  padding-left: 5px;
  position: relative;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .btn-open-container p a:hover i {
  transform: translateX(5px);
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide .carousel-video-container .text-container .btn-open-container p a:focus {
  outline: none;
}
#home .welcome-container .message-partners .video-carousel .partners-videos .slick-list .slick-track .slick-slide:focus {
  outline: none;
}
#home .welcome-container .message-partners .video-carousel .partners-videos button {
  top: 30%;
}
#home .welcome-container .message-partners .video-carousel .partners-videos button.slick-prev::before {
  content: "";
}
#home .welcome-container .message-partners .video-carousel .partners-videos button.slick-next::before {
  content: "";
}
#home .welcome-container .message-partners .video-carousel .partners-videos button::before {
  font-family: fontAwesome;
  color: #f6a11f;
  font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
}
#home .welcome-container .welcome-new-experience .parallax-effect {
  background-image: url("../../public/img/home/ballena.jpg");
}
#home .welcome-container .welcome-new-experience .parallax-effect div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
#home .welcome-container .welcome-new-experience .parallax-effect div p {
  text-align: center;
  font-size: calc(36px + (100 - 36) * ((100vw - 320px) / (1920 - 320)));
  color: #ffffff;
  font-family: "ITC Caslon 224 Std";
  font-weight: 600;
  text-shadow: 0px 0px 2px #000000;
  line-height: normal;
  letter-spacing: 1px;
}
#home .register-today {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: initial;
}
#home .register-today > div:first-of-type {
  padding-left: calc(30px + (115 - 30) * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(30px + (115 - 30) * ((100vw - 320px) / (1920 - 320)));
}
#home .register-today > div:first-of-type .text-container p {
  margin-bottom: 30px;
  text-align: left;
}
#home .register-today > div:first-of-type .text-container p span {
  font-family: "DIN Pro Bold";
  color: #ffffff;
  font-size: calc(25px + (60 - 25) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
}
#home .register-today > div:first-of-type .text-container p span.line-two {
  color: #f6a11f;
}
#home .register-today > div:first-of-type .images-register .row {
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  align-items: center;
}
#home .register-today > div:first-of-type .images-register .row > div {
  padding: 5px;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(1) {
  order: 0;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(2) {
  order: 1;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(3) {
  order: 3;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(4) {
  order: 2;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(4) .img-container {
  max-width: 80%;
  margin: 0 auto;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) {
  order: 4;
  padding-top: 40px;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container > p {
  font-family: "DIN Pro Bold";
  font-size: calc(25px + (65 - 25) * ((100vw - 320px) / (1920 - 320)));
  color: #85b19e;
  text-align: center;
  text-transform: uppercase;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form {
  max-width: 90%;
  margin: 0 auto;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form select {
  border-radius: 0;
  border-color: #242f43;
  color: #242f43;
  text-transform: uppercase;
  font-family: "DIN Pro Bold";
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
  background-size: contain;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form select option {
  width: 100%;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form .btn-register {
  text-align: center;
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form .btn-register a {
  font-family: "DIN Pro Bold";
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #f6a11f;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  padding: 3px 20px;
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
}
#home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container form .btn-register a:hover {
  background-color: #242f43;
}
#home .register-today .background-blue {
  position: absolute;
  z-index: -1;
  background-color: #242f43;
  left: 0;
  right: 0;
  top: 0;
  height: 60%;
}
@media (min-width: 992px) {
  #home .register-today > div:first-of-type {
    display: flex;
    align-items: center;
  }
  #home .register-today > div:first-of-type .text-container {
    width: 45%;
  }
  #home .register-today > div:first-of-type .images-register {
    width: 45%;
  }
  #home .register-today > div:first-of-type .images-register .row {
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
  }
  #home .register-today > div:first-of-type .images-register .row > div {
    padding: 5px;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(1) {
    order: 2;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(2) {
    order: 0;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(3) {
    order: 1;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(4) {
    order: 4;
    position: absolute;
    left: 130px;
    bottom: -110px;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(4) .img-container {
    display: inline-block;
    max-width: 40%;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) {
    order: 3;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container {
    margin-right: -135px;
    margin-bottom: -60px;
  }
  #home .register-today .background-blue {
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #home .register-today > div:first-of-type {
    display: flex;
    align-items: center;
  }
  #home .register-today > div:first-of-type .text-container {
    width: 40%;
  }
  #home .register-today > div:first-of-type .images-register {
    width: 50%;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(4) {
    bottom: -135px;
  }
  #home .register-today > div:first-of-type .images-register .row > div:nth-of-type(5) .register-container {
    margin-right: -180px;
    margin-bottom: -250px;
  }
}
#home .diary-section {
  padding: 30px calc(30px + (240 - 30) * ((100vw - 320px) / (1920 - 320))) 30px;
}
#home .diary-section > div h2 {
  margin-bottom: 0;
}
#home .diary-section > div h2,
#home .diary-section > div > p {
  text-align: center;
}
#home .diary-section > div table thead tr td,
#home .diary-section > div table thead tr th,
#home .diary-section > div table tbody tr td,
#home .diary-section > div table tbody tr th {
  text-align: center;
  font-size: calc(12px + (32 - 12) * ((100vw - 320px) / (1920 - 320)));
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  font-family: "DIN Pro Medium";
}
#home .diary-section > div table thead tr td .bold-cell,
#home .diary-section > div table thead tr th .bold-cell,
#home .diary-section > div table tbody tr td .bold-cell,
#home .diary-section > div table tbody tr th .bold-cell {
  font-family: "DIN Pro Bold";
}
#home .diary-section > div .d-md-none tr td:last-of-type {
  border-bottom: 1px solid #dee2e6;
}
#home .diary-section > div .d-md-table td,
#home .diary-section > div .d-md-table th {
  padding-top: 10px;
  padding-bottom: 10px;
}
#home .diary-section > div .d-md-table tbody tr:last-of-type td {
  border-bottom: 1px solid #dee2e6;
}
@media (min-width: 992px) {
  #home .diary-section {
    padding: 180px calc(30px + (240 - 30) * ((100vw - 320px) / (1920 - 320))) 60px;
  }
}
#home .gallery-section {
  padding: 0 calc(30px + (235 - 30) * ((100vw - 320px) / (1920 - 320))) 40px;
}
#home .gallery-section h2 {
  text-align: center;
}
#home .gallery-section > div > .row > div {
  padding: 0;
}
#home .gallery-section > div > .row > div .row > div {
  padding: 5px;
}
#home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(1) {
  order: 2;
}
#home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(2) {
  order: 1;
}
#home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(3) {
  order: 0;
}
@media (min-width: 768px) {
  #home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(1) {
    order: 0;
  }
  #home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(2) {
    order: 2;
  }
  #home .gallery-section > div > .row > div:last-of-type .row > div:nth-of-type(3) {
    order: 1;
  }
}
@media (min-width: 768px) {
  #home .gallery-section > div > .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  #home .gallery-section {
    padding: 0 calc(30px + (235 - 30) * ((100vw - 320px) / (1920 - 320))) 80px;
  }
}
#home .popup-video {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
}
#home .popup-video.hide {
  opacity: 0;
  pointer-events: none;
}
#home .popup-video .popup-video-container {
  width: 90%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 1000000;
}
#home .popup-video .popup-video-container .responsive-video {
  text-align: center;
}
#home .popup-video .popup-video-container .responsive-video video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
}
#home .popup-video .popup-video-container .responsive-video video:focus {
  outline: none;
}
@media (min-width: 1200px) {
  #home .popup-video .popup-video-container {
    width: 80%;
  }
}
#home .popup-video .fade-background {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 999991;
  height: 101%;
  background: black;
  opacity: 0.8;
}
#home .popup-video .fade-background a {
  right: 2%;
  position: absolute;
  top: 2%;
  font-size: 30px;
  color: gray;
}

#footer {
  background-color: #242f43;
}
#footer #topButton {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  position: fixed;
  right: 4%;
  bottom: 50px;
  width: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
  height: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #85b19e;
  cursor: pointer;
}
#footer #topButton a {
  color: white;
}
#footer #topButton a i {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}
#footer #topButton:hover {
  background-color: #f6a11f;
}
#footer #topButton.show {
  opacity: 1;
}
#footer #topButton.hidden {
  opacity: 0;
}
#footer .footer-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#footer .footer-container p,
#footer .footer-container a {
  color: white;
  text-align: center;
}
#footer .footer-container .footer-top-section p {
  margin: 0;
}
#footer .footer-container .footer-top-section p:last-of-type {
  margin-bottom: 15px;
}
#footer .footer-container .footer-top-section p:last-of-type a {
  font-family: "DIN Pro Bold";
}
#footer .footer-container .footer-top-section p:last-of-type a:hover {
  color: #f6a11f;
}
#footer .footer-container .footer-bottom-section > p {
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 0;
}
#footer .footer-container .footer-bottom-section .social-media-container ul {
  padding: 0;
}
#footer .footer-container .footer-bottom-section .social-media-container ul li {
  display: inline-block;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a {
  border: 1px solid #f6a11f;
  width: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  height: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  /* width: 50px;
  height: 50px; */
  display: block;
  transform: rotate(45deg);
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a span {
  -webkit-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease, all 0.5s 0s ease;
  transition: all 0.5s 0s ease, all 0.5s 0s ease;
  display: block;
  height: 100%;
  transform: rotate(-45deg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a span i {
  font-size: calc(12px + (25 - 12) * ((100vw - 320px) / (1920 - 320)));
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a:hover {
  transform: rotate(0deg);
  text-decoration: none;
  background-color: white;
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a:hover span {
  transform: rotate(0deg);
}
#footer .footer-container .footer-bottom-section .social-media-container ul li a:hover span i {
  color: #242f43;
}

/*# sourceMappingURL=main.css.map */
