@font-face {
    font-family: 'Morganite';
    src: url('Morganite-Light.eot');
    src: url('Morganite-Light.eot?#iefix') format('embedded-opentype'),
        url('Morganite-Light.woff2') format('woff2'),
        url('Morganite-Light.woff') format('woff'),
        url('Morganite-Light.ttf') format('truetype'),
        url('Morganite-Light.svg#Morganite-Light') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

